*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden !important;
}

body {
  width: 100%;
  margin: 0;
  font: normal normal 400 100% / 150% "INPUT BODY FONT HERE", sans-serif;
  --brandMain: INPUT MAIN BRAND COLOR HERE;
  --brandSecondary: INPUT SECONDARY BRAND COLOR HERE;
  --brandTertiary: INPUT TERTIARY BRAND COLOR HERE;
}

figure {
  margin-bottom: 0;
}

a,
a::before,
a::after,
a:hover,
a:hover::before,
a:hover::after {
  text-decoration: none !important;
  transition: all 0.3s ease;
}

a:active {
  transform: scale(0.95);
  transition: all 0.1s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'INPUT HEADER FONT HERE', sans-serif;
  font-weight: 600;
}

h1,
h2 {
  line-height: 100%;
}

h3,
h4 {
  line-height: 110%;
}

h5,
h6 {
  line-height: 120%;
}

.sectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
}

.sectionWrapper > section {
  width: 100%;
  max-width: 1265px;
}